html, body {
    height: 100%; /* Garante que a altura da página seja de 100% */
    margin: 0; /* Remove a margem padrão do navegador */
    display: flex; /* Ativa o Flexbox para o body */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    min-height: 100vh; /* Assegura no mínimo 100% da altura visível da tela */

}


body{

    background-image: url(/img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

label {


    font-weight: bold;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;;
}

a{
    font-size: 18px;
}

.centro {
    /* Estilos adicionais para o seu container */
    position: relative;
    width: 700px; /* Largura do container */
    height: 90%; /* Altura do container */
    border: 10px solid #393636; /* Borda para visualização */
    display: flex; /* Ativa Flexbox dentro do container */
    justify-content: center; /* Centraliza horizontalmente dentro do container */
    align-items: center; /* Centraliza verticalmente dentro do container */
    text-align: center; /* Centraliza o texto dentro do container */
    background-color: lightgray;

}   

#nomeSite{

    margin-top: -20px;
    margin-bottom: 120px;
    font-size: 75px;
}

.botao {
    display: inline-block;
    padding: 10px 20px; /* Adiciona espaçamento interno */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado padrão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s ease; /* Efeito de transição suave */
}

.botao:hover {
    background-color: #0056b3; /* Cor de fundo alterada ao passar o cursor */
}


.RecSenha {
    position: absolute; /* Posiciona o link absolutamente em relação ao container */
    left: 10px; /* Distância da borda esquerda do container */
    bottom: 10px; /* Distância da borda inferior do container */
    text-decoration: none; /* Remove o sublinhado padrão */
    color: #007bff; /* Cor do link */
    font-weight: bold; /* Define o peso da fonte como negrito */
}

.cadastro {
    position: absolute; /* Posiciona o link absolutamente em relação ao container */
    right: 10px; /* Distância da borda esquerda do container */
    bottom: 10px; /* Distância da borda inferior do container */
    text-decoration: none; /* Remove o sublinhado padrão */
    color: #007bff; /* Cor do link */
    font-weight: bold; /* Define o peso da fonte como negrito */
}

#olhoIcon{

    width: 20px;
}

